/* General Styling Template */


QWidget {
    background-color: #ea8e0e;
    color: #000000;
    font-family: "Helvetica", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

#loginWindow {
    background-image: url("images/another_orange_background.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}
#createAccount {
    background-image: url("images/orange_background.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}


#title {
    background-color: transparent;
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

#subtitle {
    background-color: transparent;
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#name {
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

QLineEdit {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    
}

#loginWindowButtons {
    background-image: url("images/black_button.jpg");
    background-repeat: no-repeat;
    background-position: center;

    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
    height: 40px;
    line-height: 40px; 
}
#loginWindowButtons:hover {
    background-color: #ffaa00;
    color: #f5d1b6;
    border: 2px outset white;
    font-style: italic;
    
}
#loginWindowButtons:pressed {
    background-color: #cc8800;
    color: white;
    font-size: 14px;
}
#loginWindowButtons:focus {
    border: 2px inset white;
    color: #ffffff;
}

#accountButtons {
    background-image: url("images/orange_button.jpg");
    background-repeat: no-repeat;
    background-position: center;

    color: #000000;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
    height: 40px;
    line-height: 40px; 
}
#accountButtons:hover {
    background-color: #ffaa00;
    color: #362201;
    border: 2px outset rgb(247, 146, 5);
    font-style: italic;
    
}
#accountButtons:pressed {
    background-color: #cc8800;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
#accountButtons:focus {
    border: 2px inset rgb(247, 146, 5);
    color: #000000;
}
/* Containers */
#searchContainer {
    background-image: url("images/black_background.jpg");
    border-radius: 8px;
    padding: 10px;
}
#favoritesContainer {
    background-image: url("images/black_background.jpg");
    border-radius: 8px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#favoritesList {
    background: transparent;
}
#faveRecWidget{
    background: transparent;
}
#faveRecipeName{
    background: transparent;
    color: white
}
#faveImg{
    background: transparent;
}
#formBackground {
    background-color: #313131;
    border-radius: 8px;
    padding: 10px;
}

/* Search Pop up Window */
#searchPopup {
    background-color: black;
    border: 3px solid #cc6600;
    border-radius: 10px;
    padding: 10px;
    font-family: "Helvetica", sans-serif;
    color: white;
}
#searchList {
    background-color: transparent;
}

#popupList {
    background-color: transparent;
    border: none;
}

#searchItem {
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

#searchTitle {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #cc5500;
}

#searchDesc {
    background-color: transparent;
    font-size: 14px;
    color: #555;
}

#searchImage {
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 5px;
}

