/* General Styling Template */


QWidget {
    background-color: #ea8e0e;
    color: #000000;
    font-family: "Helvetica", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

#loginWindow {
    background-image: url("images/another_orange_background.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}
#createAccount {
    background-image: url("images/orange_background.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}


#title {
    background-color: transparent;
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

#subtitle {
    background-color: transparent;
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#name {
    color:#000000;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

QLineEdit {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    
}

#loginWindowButtons {
    background-image: url("images/black_button.jpg");
    background-repeat: no-repeat;
    background-position: center;

    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
    height: 40px;
    line-height: 40px; 
}
#loginWindowButtons:hover {
    background-color: #ffaa00;
    color: #f5d1b6;
    border: 2px outset white;
    font-style: italic;
    
}
#loginWindowButtons:pressed {
    background-color: #cc8800;
    color: white;
    font-size: 14px;
}
#loginWindowButtons:focus {
    border: 2px inset white;
    color: #ffffff;
}

#accountButtons {
    background-image: url("images/orange_button.jpg");
    background-repeat: no-repeat;
    background-position: center;

    color: #000000;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
    height: 40px;
    line-height: 40px; 
}
#accountButtons:hover {
    background-color: #ffaa00;
    color: #362201;
    border: 2px outset rgb(247, 146, 5);
    font-style: italic;
    
}
#accountButtons:pressed {
    background-color: #cc8800;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
#accountButtons:focus {
    border: 2px inset rgb(247, 146, 5);
    color: #000000;
}
/* Containers */
#searchContainer {
    background-image: url("images/black_background.jpg");
    border-radius: 8px;
    padding: 10px;
}
#favoritesContainer {
    background-image: url("images/black_background.jpg");
    border-radius: 8px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#favoritesList {
    background: transparent;
}
#faveRecWidget{
    background: transparent;
}
#faveRecipeName{
    background: transparent;
    color: white
}
#faveImg{
    background: transparent;
}
#formBackground {
    background-color: #313131;
    border-radius: 8px;
    padding: 10px;
}

/* Search Pop up Window */
#searchPopupWin {
    background-color: black;
    border: 3px solid #cc6600;
    border-radius: 10px;
    padding-right: 5px;
    font-family: "Helvetica", sans-serif;
    color: white;
}
#searchList {
    background-color: transparent;
}
#searchTitle {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #cc5500;
}

#searchDesc {
    background-color: transparent;
    font-size: 14px;
    color: #f6e1b6;
}

#searchImage {
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 5px;
}
QWidget#fullRecipe {
    background-color: #121212;
    color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

QLabel#recFullViewName {
    font-size: 28px;
    font-weight: bold;
    color: #ffaa00;
    margin-bottom: 15px;
    background-color: transparent;
}

QLabel#component {
    font-size: 20px;
    font-weight: 600;
    color: #ffbb55;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}

QLabel#ingredient {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 3px;
    color: #dddddd;
    background-color: transparent;
}

QTextEdit#directions {
    font-size: 16px;
    line-height: 1.5em;
    color: #dddddd;
    border-top: 1px dotted #ffaa00;
    background-color: transparent;
}
QLabel#recipeImage {
    background: transparent;
    border: none;
}
QScrollBar:vertical {
    background: #121212;
    width: 10px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border:#000000;
}

QScrollBar::handle:vertical {
    background: #ffaa00;
    min-height: 30px;
    border-radius: 50px;
    margin: 10px 10px ;
    border:#000000;
}

QScrollBar::handle:vertical:hover {
    background: #ffdd80;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background: none;
    border: none;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
    border: none;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
    margin: 0;
    padding: 0;
}
QWidget#scalingButtonContainer {
    background-color: transparent;
}
QPushButton#scalingButtons {
    color: white;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    padding: 4px 8px; 
    border-radius: 12px; 
    font-size: 14px;
    background-image: url("images/orange_button.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

QPushButton#scalingButtons:hover {
    background-color: darkorange;
    border: 2px solid white; 
    padding: 3px 7px; 
}
